<section>
    <app-header></app-header>
    <main>
        <div class="name">
            <h1>Hello, I'm Bryan!</h1>
        </div>

        <h2 class="sub">HTML | CSS | SCSS | Javascript | Typescript | Angular</h2>

        <div class="socials">
            <a href ="https://github.com/Bryan-OLima" target="_blank">
                <fa-icon [icon]="['fab', 'github-square']"></fa-icon>
            </a>

            <a href ="https://twitter.com/SiuJoga" target="_blank">
                <fa-icon [icon]="['fab', 'twitter-square']"></fa-icon> 
            </a>

            <a href ="https://instagram.com/SiuJoga" target="_blank">
                <fa-icon [icon]="['fab', 'instagram-square']"></fa-icon> 
            </a>
            
            <a href ="https://www.linkedin.com/in/bryanolima/" target="_blank">
                <fa-icon [icon]="['fab', 'linkedin']"></fa-icon> 
            </a>
        </div>
    </main>
</section>